.heading-animation{
    animation: heading-animate 1s ease-out forwards;
    animation-iteration-count: 1;
}

@keyframes heading-animate {
  0% {
    transform: translateY(20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.subheading-animation{
    animation: subheading-animate 1s ease-out forwards;
    animation-iteration-count: 1;
     animation-delay: 0.5s;
     opacity:0;
}

@keyframes subheading-animate {
  0% {
    transform: translateY(20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.para-animation{
    animation: para-animate 1s ease-out forwards;
    animation-iteration-count: 1;
     animation-delay: 1s;
     opacity:0;
}

@keyframes para-animate {
  0% {
    transform: translateY(20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}


.side-animation-content {
  opacity: 0;
}

.side-animation-content-show {
  animation: side-animate-content 1.3s ease-out forwards;
}

@keyframes side-animate-content {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}


.side-animation{
  opacity: 0;
}

.side-animation-show {
  animation: side-animate 1s ease-out forwards;
}

@keyframes side-animate {
  0% {
    transform: translateX(50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
