@import "tailwindcss";


html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}


@keyframes appear {
  from {
   
    scale: 1;
  }
  to {
   
    scale: 0.75;
  }
}

.animation-small {
  animation: appear linear;
  animation-duration: 2s;
  animation-timeline: view();
  animation-range: entry 20% exit 100%;

}



   .group:hover .arrow-icon{
      animation: icon-side 0.8s ease-in-out infinite alternate;
    
    }
@keyframes icon-side {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(10px);
  }
}