@import "tailwindcss";


html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}


@keyframes appear {
  from {
   
    scale: 1;
  }
  to {
   
    scale: 0.75;
  }
}

.animation-small {
  animation: appear linear;
  animation-duration: 2s;
  animation-timeline: view();
  animation-range: entry 20% exit 100%;

}



 
    
    .loop {
      width: max-content;
    }
    .animate-scroll:hover{
      animation-play-state: paused;

    }
    .animate-scroll {
      animation: scroll 35s linear;
      
      animation-iteration-count: infinite;
      animation-direction: normal;
      animation-fill-mode: forwards;
    }
    @keyframes scroll {
      0% {
        transform: translateX(0);
     
      }
      100% {
        transform: translateX(-50%);
       
      }
    }
 

    .side-animation-content{
        animation : side-animate-content 1s linear;
       
         
        
    }


     @keyframes side-animate-content{
          0%{
            transform : translateX(-50%);
            opacity: 0;
          }
          100%{
            transform : translateX(0%);
            opacity:1;
          }
         }

    .side-animation{
        animation : side-animate 1s linear;
       
         
         
        
    }


     @keyframes side-animate{
          0%{
            transform : translateX(50%);
            opacity: 0;
          }
          100%{
            transform : translateX(0%);
            opacity:1;
          }
         }
